$white: #fff;
$white2: #fef4f2;
$red: #fc5f45;
$article-head1: #272727;
$article-head2: #313131;
$section-head: #313131;
$gray4: #3f4049;
$gray3: #5d5d62;
$regular-gray: #616161;
$gray1: #e0e0e0;
$green: #38c695;
$purple: #b27cf5;
$orange: #feb960;