$white: #fff;
$white2: #fef4f2;
$red: #fc5f45;
$article-head1: #272727;
$article-head2: #313131;
$section-head: #313131;
$gray4: #3f4049;
$gray3: #5d5d62;
$bg-gray:  rgba(38, 39, 50, 0.85);
$bg-sect-last: #ccc;
$bg-odd: #fff;
$bg-even: #f7f7f7;
$regular-gray: #616161;
$gray1: #e0e0e0;
$green: #38c695;
$purple: #b27cf5;
$orange: #feb960;